﻿
@{
    ViewBag.Title = "Project Undone";
}

<section class="hero">
    <div class="hero-content">
        <h1>Project Undone</h1>
        <p>it's back.</p>
    </div>
</section>
<section class="main-content">
    <h2>I started making a game, then quit.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    @*<video preload="auto" loop="loop" class="webm-video" controls="controls">
        <source src="http://i.imgur.com/ahwawg3.webm" type="video/webm" />
    </video>*@

    <video class="embedded-video" poster="//i.imgur.com/XP1JVlgh.jpg" preload="auto" muted="muted" loop="loop" webkit-playsinline=""  controls="controls">
        <source src="//i.imgur.com/XP1JVlg.mp4" type="video/mp4">
    </video>

    <span class="video-caption">Capture of gameplay from early builds of The Unravelling</span>

    <!-- it's okay, you can use your junk email address-->
    <form action="/" method="post" class="early email-signup">
        <h2>Intrigued? Get updates.</h2>
        <div class="input-container">
            <input type="email" placeholder="your email address" />
            <input type="submit" value="get updated" />
            <p class="promise">we won't ever share your email address</p>
        </div>
    </form>

    <hr />
    <h2>I'm picking the game back up.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <div class="concept-art-block">
        <img class="concept" src="http://dummyimage.com/500x300/000/fff" 
            alt="concept number 1" 
            srcset="http://dummyimage.com/16:9x500 450w,
            http://dummyimage.com/16:9x650 650w,
            http://dummyimage.com/16:9x800 800w," />
        <span class="image-caption">Concept art for Project Undone</span>
    </div>

    <div class="concept-art-block">
        <img class="concept" src="http://dummyimage.com/500x300/000/fff"
             alt="concept number 1"
             srcset="http://dummyimage.com/16:9x500 450w,
            http://dummyimage.com/16:9x650 650w,
            http://dummyimage.com/16:9x800 800w," />
        <span class="image-caption">Concept art for Project Undone</span>
    </div>
     
    <hr />
    <h2>Are you interested?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
    <!-- this is the same form as the one above... but lower-->    
    <form action="/" method="post" class="email-signup">
        <div class="input-container">
            <input type="email" placeholder="your email address" />
            <input type="submit" value="get updated" />
            <p class="promise">we won't ever share your email address</p>
        </div>
    </form>
</section> 