/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #efefef;
}

.hero {
    width: 100%;
    height: 650px;
    background-color: #000;
    background: url('../img/Undone-Title_no-gear-sparks.jpg');
    background-size: cover;
    background-position: bottom;
}

.hero-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    height: 100%;
    padding: 0 1rem;
}

@media (max-width: 600px) {
    .hero {
        height: 400px;
    }
}

    .hero-content h1 {
        font-size: 55pt;
        margin: 0;
        padding-top: 4.5rem;
        font-weight: bold;
        /*max-width: 25rem;*/
        /*letter-spacing: 1rem;*/
        line-height: .92em;
        text-transform: uppercase;
        font-family: 'Open Sans Condensed', sans-serif;
    }

    .hero-content p {
        font-family: 'Ubuntu', sans-serif;
        font-size: 27pt;
        position: absolute;
        bottom: 0px;
        font-weight: 300;
    }

img.concept {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.main-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    color: #505050;
}

    .main-content h2 {
        margin: 1.5em 0;
        font-size: 25pt;
        font-weight: 400;
    }

    .main-content p {
        margin-bottom: 4rem;
    }

.embedded-video {
    display: block;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.video-caption, .image-caption {
    display: block; 
    text-align: center;
    font-style: italic;
    margin-bottom: 3rem;
}

@media (max-width: 600px) {
    .webm-video {
        width: 100%;
    }
}

hr {
    margin: 4rem 2rem;
}

.concept-art-block {
    margin: 5rem 0;
}

.concept-art-block img {
    width: 100%;
    max-width: 650px;
}

.email-signup {
    width: 100%;
    padding: 4rem 0;
    position: relative;
    text-align: center;
}

    .early.email-signup {
        padding: 0.5rem 0;
        /*background-color: #e2e2e2;*/
    }

        .early.email-signup h2 {
            margin: 2rem;
        }

    .email-signup .input-container {
        max-width: 30rem;
        margin: 0 auto;
    }

    .email-signup input[type="email"] {
        height: 2rem;
        padding: 0.5rem;
        width: calc(100% - 10rem);
        text-align: center;
    }

    .email-signup input[type="submit"] {
        height: 3.25rem;
        padding: 0.5rem;
        width: 8rem;
        background: none;
        border: solid 1px rgba(0, 0, 0, 0.5);
    }

    .email-signup input[type="submit"]:hover {
        background-color: rgba(255, 255, 255, 0.7);
    }

    @media (max-width: 600px) {
        .email-signup {
            width: calc(100% + 2rem);
            margin-left: -1rem;
        }

        .email-signup input[type="email"] {
            width: calc(100% - 8rem);
            font-size: 14px;
        }

        .email-signup input[type="submit"] {
            width: 6rem;
            font-size: 14px;
        }
    }

p.promise {
    margin: 0.3rem 0 0 0;
    color: rgba(0,0,0,0.2);
    font-family: 'Ubuntu', sans-serif;
}

footer {
    max-width: 1200px;
    margin: 10rem auto 0 auto;
    padding: 1rem;
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
